.mattabgroup{
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 77%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); 
 
}

p {
  font-family: Lato;
}

.invisible{
  display:none;
}

.mat-row:hover {
 
  background: linear-gradient(to bottom, #000C40, #F0F2F0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 // background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
}

.mattab{
    color:white !important;
}

.matinput{
 margin-left: 10px; 
 margin-right: 10px;
}
.matinput2{
  margin-left: 5px; 
  margin-right: 2px;
 }

.md-button-right .button-group {
    position: absolute;
    right: 0;
    margin: 0;
  }
 
  .mySelectedPanel {
    font-family: 'Times New Roman';
    font-size: 15px;
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
   // margin-left: 150px; 
 }

 .xmySelectedPanel{
  font-family: 'Times New Roman';
  font-size: 15px;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  
}
 .boton {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  max-height: 50%;
  margin-top:20px;
  margin-left:10px
  
}

ul#menu li {
  display:inline;
}


 .mytitle{
    font-family: 'Times New Roman';
    font-size: 15px;
    color: black;
    font-weight: bold;
 }

  .rowcolor{
  background:whitesmoke;
}

.cardfooter{
    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white; 
    display: flex;
    text-align:center;
    font-size: 10px;
    margin:auto;
    justify-content: center;
    align-items: center;
    
 }
 
 .cardcontent{
       border-color: black;
       border-style: solid;
       border-width: 1px;
 }

 .cardfirma{
   height: 20px ;
 }
 .cardheader{
   color : black;
   text-align: center; 
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .card {
    max-width: 550px;
    margin-top:20px;
    margin-left: 20px;
  }
  

  .cardz{
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    max-width: 100%;
  //  background-color:black;
  }
 
  #titulo{
   display:flex
   } 

  #container{
    display:flex;
    max-width: 100%;
    margin-left:10px; 
    margin-top:10px;
  //  background-color: #4CAF50;
   // border-style: solid;
  //  border-color: red;
  }

  .pointer {
    cursor: pointer;
}

  #_contanier{
    margin-top:10px;  
    padding-top:10px;
    background-color:blue
  }

  .loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
 
  #container2{
    display:flex;
    max-width: 30%;
    margin-right:5px;
   // border-style: solid;
   // border-color:green;
  }


  .mobile-label {
    display: none;
  }

  .mat-column-mantenimientos{

    max-width: 100px;
   
  }
  .mat-column-estado,.mat-column-fechafinal,.mat-column-fechainicio{

    max-width: 250px;
  }


.mat-column-cantidad,.mat-column-existencia,.mat-column-entregado
{
width:20px;
margin-left:5px;
}

::ng-deep .Inputstring{
  width:400px;
  margin-right: 10px !important
}

::ng-deep .Inputnumber{
  width:100px;
  margin-right: 10px !important
}
::ng-deep .Inputdate{
  width:150px;
  margin-right: 10px !important
}

.mat-column-existencia
{
width:100px;
margin-left:5px;
}

.mat-column-descripcion
{
width:200px;
margin-left:2px;
}

  @media(max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
        align-items: start;
      }

 .mat-column-orden,.mat-column-fecharecibe,.mat-column-usrenvia,.mat-column-usrenviac,.mat-column-servicio,.mat-column-comentarios,
 .mat-column-mantenimientos,.mat-column-lastName,.mat-column-marca
 ,.mat-column-modelo
{   
    max-width: none;
    width:none;
}



    .mat-header-row {
      display: none;
    }
  
  .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      }
  }
 